* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('../img/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-height: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    max-width: 100%;
    position: relative;
    background: rgba(21, 60, 105, 0.3);
    /* border-bottom : 1px solid #fff; */
    backdrop-filter: blur(3px); 
    box-shadow: 1px 1px 10px 1px #fff;
}

header div h1 {
    color: #0083d0;
    font-family: 'Rubik Glitch', sans-serif;
    font-size: 40px;
}

header ul {
    display: flex;
}

header ul li {
    padding: 10px;
    /* border-right: 2px outset #fff; */
}

header ul li a {
    transition: 300ms;
}

header ul li a:hover {
    color: #0083d0;
    text-decoration: underline;
}

header ul li:first-child {
    /* border-left: 2px outset #fff; */
}

ul {
    list-style: none;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
    padding: 100px;
}

.container .name h1 {
    font-size: 45px;
}

.container .name h5 {
    font-size: 20px;
}

#animation {
    transition: 300ms;
}

#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.rotate {
    transform: rotate(180deg);
}

.active {
    display: block !important;
}

#about {
    text-align: center;
    box-sizing: 960px;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

form {
    padding: 10px;
}

.form div p {
    font-weight: 500;
}

.form {
    width: 40%;
    margin: 0 auto;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.form input {
    width: 50%;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    border: none;
    text-align: center;
}

.form button {
    width: 15%;
    /* background-color: #0083d0; */
    background: linear-gradient(to right, #0083d0 50%, #fff 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    border: none;
    color: #0083d0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: 800;
    transition: all 300ms ease-out;
}

.form button:hover {
    background-position: left bottom;
    color: #fff;
    padding: 7px 5px;
}

@media only screen  and (max-width: 1348px) {
    .form {
        width: 60%;
    }
}

@media only screen  and (max-width: 1080px) {
    .form {
        width: 70%;
    }
}

@media only screen  and (max-width: 900px) {
    .form {
        width: 90%;
    }
}

@media only screen  and (max-width: 768px) {
    .form {
        width: 100%;
    }
}

@media only screen  and (max-width: 700px) {
    .form {
        width: 100%;
    }
}

@media only screen  and (max-width: 480px) {
    .form button{
        width: 30%;
    }
}

@media only screen  and (max-width: 580px) {
    .form button{
        width: 25%;
    }
}

@media only screen  and (max-width: 650px) {
    .form button{
        width: 20%;
    }
}

@media only screen  and (max-width: 480px) {

    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 15px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }

    .container {
        padding: 10px;
    }



}

@media only screen  and (max-width: 380px) {
    header div h1 {
        font-size: 30px;
    }

    header ul li a {
        font-size: 13px;
    }
}

@media only screen  and (max-width: 360px) {
    header div h1 {
        font-size: 30px;
    }
}

@media only screen  and (max-width: 360px) {
    header div h1 {
        font-size: 30px;
    }
}

@media only screen  and (max-width: 360px) {
    header ul li a {
        font-size: 12px;
    }
}